
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
  --text-black: #161211;
  --light-pink: #FFE2DB;
  --gray: #D6E1DD;
  --green: #6E974F;
  --yellow: #F9CC12;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* background-color: #2D3436; */
  background-color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  width: 75%;
  margin: 0 auto;
}

.app-container.home {
  flex-direction: row;
}

#title-text {
  width: 55%;
  padding-right: 6rem;
}
