#chat {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

#chat .conversational-form {
  /* display: flex; */
  /* align-content: center; */
  width: 70%;
  /* justify-content: center; */
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
}

.conversational-form cf-input textarea:focus,  .conversational-form cf-input input:focus{
  box-shadow: 0 0 0 1px rgba(0,0,0);
}

#welcome-message {
  color: var(--black);
  width: 30%;
  text-align: center;
  margin: 2rem;
}

#spin {
  display: inline-block;
  width: 1rem;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
