#chat {
    height: 100vh;
    display: flex;
}

.conversational-form {
  align-content: center;
  width: 50%;
  justify-content: center;
  height: 80%;
  box-shadow: 0 2px 28px 0 rgba(0,0,0,0.12);
}

.conversational-form cf-input textarea:focus,  .conversational-form cf-input input:focus{
  box-shadow: 0 0 0 1px rgba(0,0,0);
}
